{% extends 'base.html.twig' %}

{% macro ligneTable(row) %}
                    
                        <td style='width: 15%; padding:0 !important;'>{{ form_widget(row.role, {'attr': {'class': 'form-control-sm'}}) }}</td>
                        <td style='width: 20%; padding:0 !important;'>{{ form_widget(row.person.firstName, {'attr': {'class': 'form-control-sm'}}) }}</td>
                        <td style='width: 20%; padding:0 !important;'>{{ form_widget(row.person.lastName, {'attr': {'class': 'form-control-sm'}}) }}</td>
                        <td style='width: 5%; padding:0 !important;'>{{ form_widget(row.person.gender, {'attr': {'class': 'form-control-sm'}}) }}</td>
                        <td style='width: 5%; padding:0 !important;'>{{ form_widget(row.person.nationality, {'attr': {'class': 'form-control-sm'}}) }}</td>
                        <td style='width: 5%; padding:0 !important;'>{{ form_widget(row.person.residence, {'attr': {'class': 'form-control-sm'}}) }}</td>
                        {% if is_granted('ROLE_EACEA') %}<td style='width: 5%; padding:0 !important;'>{{ form_widget(row.points, {'attr': {'class': 'form-control-sm points'}}) }}</td>{% endif %}
                        
                              
 {% endmacro ligneTable %}

{% macro ligneTableProd(row) %}
                        <td style='width: 15%; padding:0 !important;'>{{ form_widget(row.role, {'attr': {'class': 'form-control-sm'}}) }}</td>
                        <td style='width: 20%; padding:0 !important;'>{{ form_widget(row.company.name, {'attr': {'class': 'form-control-sm'}}) }}</td>
                        <td style='width: 20%; padding:0 !important;'></td>
                        <td style='width: 5%; padding:0 !important;'></td>
                        <td style='width: 5%; padding:0 !important;'>{{ form_widget(row.share, {'attr': {'class': 'form-control-sm', 'click': 'calcTotal()'}}) }}</td>
 {% endmacro ligneTableProd %}

 {% import _self as formMacros %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.title)}}
        {{ form_row(form.yearOfCopyright)}}
        {{ form_row(form.status)}}
        
        <fieldset class="form-group border p-2">
            <legend class="w-auto">Cast and Crew</legend>
                <table class="table" id="crew_list_table" data-prototype="{{ formMacros.ligneTable(form.crew.vars.prototype)|e('html_attr') }}">
                    <thead>
                        <th class="w-10">Role</th>
                        <th class="w-15">First Name</th>
                        <th class="w-15">Last Name</th>
                        <th class="w-10">Gender</th>
                        <th class="w-10">Nationality</th>
                        <th class="w-10">Residence</th>
                        {% if is_granted('ROLE_EACEA') %}<th class="w-10">Points</th>{% endif %}
                        <th class="w-10"></th>
                    </thead>
                    <tbody>
                    {% set sum = 0 %}
                    {% for row in form.crew %}
                    <tr name='test' }}>
                        {{ formMacros.ligneTable(row)}}
                    
                         
                    </tr>
                    {% endfor %}
                     
                    </tbody>
                    <tfoot>
                    <div id="val"></div>
                    </tfoot>
                </table>
        </fieldset>
        {# do loop first and assign whatever output you want to a variable #}

        {{ form_row(form.audience)}}
        {{ form_row(form.genres)}}

        <fieldset class="form-group border p-2">
            <legend class="w-auto">Production</legend>
                <table class="table" id="production_list_table" data-prototype="{{ formMacros.ligneTableProd(form.production.vars.prototype)|e('html_attr') }}">
                    <thead>
                        <th class="w-10">Role</th>
                        <th class="w-15">Company</th>
                        <th class="w-15">Country</th>
                        <th class="w-10">City</th>
                        <th class="w-10">Share</th>
                        <th class="w-10"></th>
                    </thead>
                    <tbody>
                    {% for row in form.production %}
                    <tr name='bla'>
                       <td style='width: 15%; padding:0 !important;'>{{ form_widget(row.role, {'attr': {'class': 'form-control-sm'}}) }}</td>
                        <td style='width: 20%; padding:0 !important;'>{{ form_widget(row.company.name, {'attr': {'class': 'form-control-sm'}}) }}</td>
                        <td style='width: 20%; padding:0 !important;'></td>
                        <td style='width: 5%; padding:0 !important;'></td>
                        <td style='width: 5%; padding:0 !important;'>{{ form_widget(row.share, {'attr': {'class': 'form-control-sm'}}) }}</td>
   
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </fieldset>
        <button type="submit" class="btn btn-success"> Save</button>
        {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
    {% block javascripts %}
            {% if is_granted(['ROLE_EACEA','ROLE_EULOGIN']) %}{{ encore_entry_script_tags('crew') }}{{ encore_entry_script_tags('production') }}{% endif %}
        {% endblock %}
{% endblock %}