{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.title)}}
        <div class="col-sm-8" id="crew_list" data-prototype="{{ form_widget(form.crew.vars.prototype)|e('html_attr')}}" >
        <table><thead><th>Role</th></thead></table>
        {% for row in form.crew %}
            <div class="panel panel-warning">
                   
                    <table>
                    <tr>
                    <div class="panel-body">
                        <td>{{ form_widget(row.role) }}</td>
                        <td>{{ form_widget(row.person) }}</td>
                    </div>
                    </tr>
                    </table>
                </div>
        {% endfor %}
        
        </div>
        <button type="submit" class="btn btn-success"> Ajouter</button>
    {{ form_end(form) }}
{% endblock %}