{% extends 'base.html.twig' %}

{% block body %}
<h1>FilmDataBAse</h1>

{{ movie.title }}<br>
{{ movie.id }}<br>
{{ movie.tagline }}<br>
{{ movie.popularity }}<br>
{{ movie.imdbId }}<br>
<img src='https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{ movie.posterPath }}'>

{% endblock %}
