{% extends 'base.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block body %}

<section class="works">
<table class="table">
    <thead>
        <th>{{"work.title"|trans}}</th>
        <th>{{"work.yearOfCopyright"|trans}}</th>
        <th>{{"work.id"|trans}}</th>
    </thead>
    <tbody>
        {% for work in works %}
        <tr>
            <td>{{ work.title }}</td>
            <td>{{ work.yearOfCopyright }}</td>
            <td>{{ work.id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
