{% extends 'base.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block body %}
<div>
{{ render( controller( 'App\\Controller\\FilmController::searchBar') ) }}
<div id="autocomplete-results">
</div>
</div>
<fieldset class="form-group border p-2">
    <legend class="w-auto">{{"search.criteria"|trans}}</legend>
    {{ form_start(searchForm) }}
        <div class="form-group row">
            <label for="film_title" class="col-form-label col-lg-2">{{"work.title"|trans}}</label>
            {{form_widget(searchForm.title)}}
        </div>
        <div class="form-group row">
            <label for="work_id" class="col-form-label col-lg-2">{{"work.id"|trans}}</label>
            {{form_widget(searchForm.id)}}

            <label for="work_nationality" class="col-form-label col-lg-2">{{"work.nationality"|trans}}</label>
            {{form_widget(searchForm.nationality)}}

            <label for="work_status" class="col-form-label col-lg-2">{{"work.status"|trans}}</label>
             {{form_widget(searchForm.status)}}

             <label for="work_status" class="col-form-label col-lg-2">{{"work.year"|trans}}</label>
             {{form_widget(searchForm.year)}}
        </div>
        <div class="form-group row">
            <label for="work_director" class="col-form-label col-lg-2">{{"work.director"|trans}}</label>
            {{form_widget(searchForm.director)}}   
        </div>
        
        <button class="btn btn-primary col-lg-8 offset-md-2 btn-lg">{{"work.search"|trans}}</button>
        {{ form_end(searchForm) }}
</fieldset>
{{ works.getTotalItemCount|format_number }} {{ "Results" | trans}}
<div class="form-group col-lg-12" >
         
    <section class="works">

        <table class="table">
            <thead>
                <th>{{"work.id"|trans}}</th>
                <th>{{"work.title"|trans}}</th>
                <th>{{"work.director"|trans}}</th>
                <th>{{"work.nationality"|trans}}</th>
                <th>{{"work.yearOfCopyright"|trans}}</th>
                <th>{{"work.status"|trans}}</th>
            </thead>
            <tbody>
                {% for work in works %}
                <tr>
                    <td>{{ work.id }}</td>
                    <td>{{ work.title }}</td>
                    <td>{{ work.director}}</td>
                    <td>{{ work.yearOfCopyright }}</td>
                    <td>{{ work.yearOfCopyright }}</td>
                    <td>{{ work.status }}</td>
                    <td>
                            <a href="{{ path('film_edit', {
                                id: work.id
                            }) }}">
                            <i class="fas fa-pen"></i>
                        </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(works) }}
</div>
{% block javascripts %}
            {{ encore_entry_script_tags('crew') }}
        {% endblock %}
{% endblock %}

