{% extends 'base.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block body %}
<fieldset class="form-group border p-2">
    <legend class="w-auto">{{"search.criteria"|trans}}</legend>
        <div class="form-group row">
            <label for="film_title" class="col-form-label col-lg-2">{{"work.title"|trans}}</label>
            <input id="film_title" type="text" class="form-control col-lg-9">
        </div>
        <div class="form-group row">
            <label for="film_id" class="col-form-label col-lg-2">{{"work.id"|trans}}</label>
            <input id="film_id" type="text" class="form-control col-lg-2">

            <label for="film_id" class="col-form-label col-lg-2">{{"work.nationality"|trans}}</label>
            <select class="form-control col-lg-1" id="exampleFormControlSelect2">
                <option>AT</option>
                <option>BE</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <label for="film_id" class="col-form-label col-lg-2">{{"work.status"|trans}}</label>
            <select class="form-control col-lg-2" id="exampleFormControlSelect2">
                <option>Validated</option>
                <option>New</option>
                <option>Rejected</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group row">
            <label for="film_id" class="col-form-label col-lg-2">{{"work.director"|trans}}</label>
            <input id="film_id" type="text" class="form-control col-lg-9">
            
        </div>
        
        <button class="btn btn-primary col-lg-8 offset-md-2 btn-lg">{{"work.search"|trans}}</button>
        
</fieldset>
<div class="form-group col-lg-12" >
         
    <section class="works">

        <table class="table">
            <thead>
                <th>{{"work.id"|trans}}</th>
                <th>{{"work.title"|trans}}</th>
                <th>{{"work.director"|trans}}</th>
                <th>{{"work.nationality"|trans}}</th>
                <th>{{"work.yearOfCopyright"|trans}}</th>
                <th>{{"work.status"|trans}}</th>
            </thead>
            <tbody>
                {% for work in works %}
                <tr>
                    <td>{{ work.id }}</td>
                    <td>{{ work.title }}</td>
                    <td>{{ work.title}}</td>
                    <td>{{ work.yearOfCopyright }}</td>
                    <td>{{ work.yearOfCopyright }}</td>
                    <td>{{ work.status }}</td>
                    <td>
                            <a href="{{ path('film_edit', {
                                id: work.id
                            }) }}">
                            <i class="fas fa-pen"></i>
                        </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
