<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        {% block stylesheets %}
            
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
   
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" aria-expanded="true" aria-controls="navbarColor01" aria-label="Toggle navigation" type="button" data-toggle="collapse" data-target="#navbarColor01">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarColor01">
            {# Menu principal #}
            {{ knp_menu_render('main', {'currentClass': 'active', 'template': 'extended_knp_menu.html.twig'}) }}
            {# Menu utilisateur #}
            {{ knp_menu_render('user')}}
            {# Button de choix de la langue #}
            {% include 'switch_locale.html.twig' %}  
            </div>
            
        </nav>
        
        <div class="container">
            {% block body %}
         {{ knp_menu_render('main') }}
            {% endblock %}
        </div>
        

        <script src="{{ asset('js/crew.js') }}"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
