{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<fieldset class="form-group border p-2">
    <legend class="w-auto">{{"search.criteria"|trans}}</legend>
        {{ form_start(searchForm) }}
        <div class="form-group row">
            <label for="film_id" class="col-form-label col-lg-1 offset-lg-1">ID</label>
            <input id="film_id" type="text" class="form-control col-lg-1">

            <label for="action" class="col-form-label col-lg-1">{{"Action"|trans}}</label>
             {{form_widget(searchForm.action)}}

            <label for="film_id" class="col-form-label col-lg-1">{{"Year"|trans}}</label>
            {{form_widget(searchForm.year)}}

            <label for="film_id" class="col-form-label col-lg-1">Round</label>
            {{form_widget(searchForm.round)}}

            <label for="film_id" class="col-form-label col-lg-1">Status</label>
            {{form_widget(searchForm.round)|trans}}
        </div>
         <button type="submit" class="btn btn-primary col-lg-8 offset-md-2 btn-lg">Search Project</button>
        {{ form_end(searchForm) }}       
       
        
</fieldset>
<fieldset class="form-group border p-2">
    <legend class="w-auto">Project List</legend>
    <div class="form-group col-lg-12" >
        <section class="projects">
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Action</th>
                    <th>Year</th>
                    <th>Round</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td>{{ project.id }}</td>
                        <td>{{ project.action }}</td>
                        <td>{{ project.year |date('Y') }}</td>
                        <td>{{ project.round }}</td>
                        <td>Open</td>
                        <td>
                        {% if is_granted('ROLE_EACEA') %}
                            <a href="{{ path('project_edit', {
                                id: project.id
                                }) }}">
                                <i class="fas fa-pen"></i>
                            </td>
                        {% endif %}
                        <td>
                        {% if is_granted('ROLE_EACEA_SUPERUSER') %}
                            <a href="{{ path('project_edit', {
                                id: project.id
                            }) }}">
                            <i class="fas fa-trash-alt"></i>
                        {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                    
                    
                </tbody>
            </table>
             {{ knp_pagination_render(projects) }}
        </section>
    </div>
</fieldset>
{% endblock %}